*{
	box-sizing:border-box;
}
body {
	margin: 0;
	line-height: 1.42857;
	color:#000;
	height: 100%;
}
ui-view {
	min-height: 300px;
	display: block; 
}

/*Main panel in landing page  */
.overlay-default {
	position: relative;
    overflow: hidden;
    height:100%;
    background-size: cover;
	background-image: url(../img/home/tutorial.jpg);
}
 .overlay-default:before {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
}
.tutorial-card {
	position:relative;
	z-index:10;
	overflow: hidden;
}
 .tutorial-nav {
	background-color:#fff; 
	max-width: 100%;
	margin-bottom: 60px;
}
.tutorial-nav h3{
	color:#004C8A;
	display:inline-block;
	position:relative;
	padding-left:10px;
	margin: 16px 0px 4px !important;
}
.tutorial-nav .title-desc{
	padding-left:50px;
	color: gray;
	font-size: 14px;
}
.tutorial-nav ul
	  
}
.tutorial-nav ul li{
	line-height: 1.5;
	position: relative;
	padding-left:15px; 
	font-size:16px;
	vertical-align: top;
	color: #004C8A;
}
.tutorial-nav ul li:before{
	content:""; 
}
.tutorial-nav .mega-menu-sub-title {
    background-color: #1db379;
    font-size: 16px;
	font-weight:600;    
    padding: 2px 7px;
}
.tutorial-nav ul li a{
	text-decoration:none;
	margin-left: 3px;
	color: #004C8A;
	font-weight: 600;
	border-bottom: 2px solid #a7c1d6;
	font-size: 13px;
	display: table;
	margin-top: 8px;
}
.tutorial-nav nav ul li a:hover {
    color: #004b8e;
    border-bottom-color: #044e8b;
}
.tutorial-nav ul li span{
	border-bottom:2px solid #004C8A;
}
.tutorial-nav i{
    transform: rotate(23deg);
    position: absolute;
    top: -15px;
    right: -20px;
    color: #F2542D;
    font-size: 27px;
}
.bor-bot-gray{
	border: 2px solid lightgray;
}
.students-image {
	padding: 0 !important;
}
.students-image img{
	position: absolute;
    right: 0;
    z-index: 2;
}
.bottom-card{
    background-color: #04314A;
    margin-bottom:20px !important;
    padding: 22px 10px;
    color: #fff;
    font-size: 16px;
}
.card-height{
	min-height:190px;
	
}
.card-height img{
	height:50%;
	width:50%;  
}
.tutorial-card {
	position: relative;
	min-height: 594px;
	max-height: 100vh;
}
.tutorial-nav {
	right: 0;
	position: absolute;
}
.tutorial-nav nav ul li{
	vertical-align:top;
	display:inline-block;
	color: #004C8A;
	padding-left: 10px; 
}
.bg-card-color-1 {
	background-color:#90e82b;
	color:#fff;
}
.bg-card-color-2 {
	background-color:#ea1c1c;
	color:#fff; 
}
.bg-card-color-3 {       
	background-color:#6abbc1;
	color:#fff;
}
.bg-card-color-4 {
	background-color:#b54be4;
	color:#fff;
}
.bg-card-color-5 {
	background-color:#e20496;
	color:#fff;
}

.course-round{
	height: 150px;
    border-radius: 100px;
    width: 150px;
    font-size:20px;
    font-weight:600;
    padding-top: 59px;
    text-align: center;
    vertical-align: middle;
}
.pointer-cursor {
	cursor:pointer;
}
.no-padding {
	padding: 0 !important;
	}
.no-margin {
	margin:0 !important;
	}
.mar-top-12 {
	margin-top:12px;
}
.bordered{
	border:1px solid lightgrey;
	}
.border-bottom {
	    border-bottom: 2px solid #f27c66;
}
.text-center {
	text-align:center;
	}
.text-right {
	text-align:right;
}
.pull-right {
	float:right;
}
.pull-left {
	float:left;
}
.absolute {
	position:absolute !important;
}
.relative {
	position:relative !important;
}
.fixed {
	position:fixed !important;
}
.right-78px{
	right:78px;
}
.padding-2px {
	padding: 2px !important;
	}
.no-padding-left {
	padding-left: 0 !important;
	}
.no-padding-right {
	padding-right: 0 !important;
	}
.no-padding-top {
	padding-top: 0 !important;
	}
.no-padding-bottom {
	padding-bottom: 0 !important;
	}
.padding-right10px {
	    padding-right: 10px;
}
.pad-15{
	padding: 15px !important;
}
.pad-top-60{
	padding-top:60px; 
}
.overflow-x-none {
	overflow-x:hidden;
}
.mar-top-75 {
	    margin-top: 75px;
}
.mar-38px {
	       margin-top: 38px;
}
.mar-top5px {
	margin-top:5px;	
}
.mar-bottom30px {
    margin-bottom: 30px;
}

	
.overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	opacity: 0;
	position: fixed;
	visibility: hidden;
	transition: all 0.4s;
	background-color: #000;
}
.overlay.show {
	opacity: 0.7;
	visibility: visible;
}
.popup {
	right: 10px;
    top: -600px;
    z-index: 1010;
    opacity: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    visibility: hidden;
    transition: all 0.6s;
    background-color: #FFF;
}
.log-popup {right:4%}
.popup.show {
	opacity: 1;
	visibility: visible;
	top: 102px;
}
.popup>.popup-body {
	height: 100%;
	padding: 8px;
	position: relative;
	background-color: #F5F7FA;
}
.popup-close-btn{
    background-color: #18BB7C;
    height: 30px;
    font-size:20px; 
}
.show{
	visibility: visible !important;
	opacity:1;
}
.popup-quiz {
	left: 0px;
    top: 341px;
    height: 191px;
    width: 353px;
}
.quiz-info-msg {
	margin-bottom: 21px;
}
.close-image {
	margin-left: 321px;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.megamenu>ul.hide{
	left:200% !important;
    opacity: 0 !important;
}
.login-logo {
	width: 80px;
    height: 71px;
    margin-top: 20px;
    margin-left: 39%;
/*     border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); */
}
.close-icon img{
	height:auto;
	display: inline-block;
	 
}
.login-logo img {
    margin: auto;
    max-width: 100%;
    height: 75px;
}
.login-logo .fa-key {
	position: absolute;
	right: 15px;
	top: 20px;
	opacity: 0.1;
}
.login-title {
	margin: 10px 0 20px 0;
}
.login-title h4{
	font-size: 14px;
	color:#000; 
}
.login-title h3{
	font-size:18px;
	color:#000;
	margin: 17px 0 15px 0; 
}
.field-container {
	width: 100%;
	margin: auto;
	position: relative;
	padding: 19px 15px 0 15px;
}
.field-container label {
	display: block;
}
.field-container input {
   width: 100%;
    outline: none;
    height: 37px;
    padding: 10px 45px;
    border: 1px solid #AAA;
}
.field-container .btn {
	width: 100%;
	height: 33px;
	border: 1px solid #18BB7C;
	background-color: #18BB7C;
	color:white;
}
.field-container .btn:disabled {
	color: #777;
	background-color: #DDD;
}
.field-container .error-msg {
    color: red;
    font-size: 12px;
    left: 56px;
}

.log-error-msg {padding:1%; margin:1% auto; font-family: 'Open Sans','Segoe UI'; width:93%; text-align:center; color:#9f3a38; background-color:#fff6f6; font-weight:bold; border:1px solid #e0b4b4; }
.log-success-msg {padding:1%; margin:1% auto; font-family: 'Open Sans','Segoe UI'; width:93%; text-align:center; color:#729d5f; background-color:#dff0d8; font-weight:bold; border:1px solid #d9eccf; }
.success-txt-p { font-size: 15px; text-align: justify; width: 90%; color:#729d5f; margin: 23% auto 5% auto; top: 2%;}
.header-log-svg {width: 25px; height: 25px; float: right; margin-top: 8px; margin-left:5px;}


.login-header i{
	color: rgba(0, 0, 0, 0.3);
}
.field-container-heading {
	background-color:#18BB7C;
	color:white
}

.input-field-icon {
    color: white;
    font-size: 18px;
    margin-left: 9px;
    margin-top: 7px;
}
.input-email-icon {
	font-size: 30px;
    margin-left: 5px;
}

.input-field-icon-area {
	background-color:#18BB7C;
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 33px;
    height: 36px;
	-moz-transform-origin: 50% 20px -20px;
	-webkit-transform-origin: 50% 20px -20px;
	transform-origin: 50% 20px -20px;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	outline: 1px solid transparent;
}

.field-container input:focus+.input-field-icon-area {
	-moz-transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
	-moz-transition-duration: 1000ms;
	-webkit-transition-duration: 1000ms;
	-ms-transition-duration: 1000ms;
	transition-duration: 1000ms;
}



.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}
.font-22{
	font-size:22px; 		
}
/* Slider Start */
.slider-container{
	position: relative;
	width: 100%;
	min-height: 440px;
    overflow: hidden;
}
.slider-child-container{
	position: absolute;
    width: 200%;
    top: 0px;
    left: 0px;  
}
.slider-child{
	float: left;
	width: 50%;
	position: relative;
	border: 1px solid #fff;
}
.slide-page-left{
    -webkit-animation-name: slide-left; 
    -webkit-animation-duration: 1s;  
    
    animation-name: slide-left; 
    animation-duration: 1s;  
    margin-left:-100%;
}
.slide-page-right{
	 animation-name: slide-right; 
     animation-duration: 1s;  
     
    -webkit-animation-name: slide-right; 
    -webkit-animation-duration: 1s;  
}
@keyframes slide-left {
     from {margin-left:0;}
    to {margin-left:-100%;} 
}
@keyframes slide-right {
     from {margin-left:-100%;}
    to {margin-left:0%;} 
}
.slider-navigation-icon{
   	position: relative;
    left: -10px;
    top: 0px;
    font-size: 18px;
    cursor: pointer;
    float: right;
}
.spin-slider-icon{
	animation:spin-icon 1s infinite linear;
	-webkit-animation:spin-icon 1s infinite linear;
}
@keyframes spin-icon {
    from {transform: rotate(0deg);}
   	to {transform: rotate(360deg);}
}
	/* slider ends */
.btn {
	outline: none;
	cursor: pointer;
	padding: 8px 15px;
	text-align: center;
	transition: background-color 0.4s ease;
}
.btn.btn-sm {
	padding: 4px;
}
.btn.btn-md {
	padding: 6px;
}
.btn.btn-normal {
	border-radius: 4px;
}
.btn.btn-rounded {
	border-radius: 360px;
}
.btn.btn-circle {
	border-radius: 100%;
}

.row { width: 100%; position: relative; padding: 5px;}
.row>[class*='grid-md']{ float: left; padding: 5px;}
.row:before, .row:after, .clear {
	clear: both;
	content: '';
	display: table;
}
[class*='grid-md-'] { width: 100% }
	.grid-md-1 { width: 8.333333%; }
	.grid-md-1pnt5{ width: 12.5%; }
	.grid-md-2 { width: 16.666667%; }
	.grid-md-2pnt5 { width:20.825%; }
	.grid-md-3 { width: 25%; }
	.grid-md-4 { width: 33.333333%; }
	.grid-md-5 { width: 41.666667%; }
	.grid-md-5pnt5 {width:45.83166%;}
	.grid-md-6 { width: 50%; }
	.grid-md-7 { width: 58.333333%; }
	.grid-md-8 { width: 66.666667%; }
	.grid-md-9 { width: 75%; }
	.grid-md-10 { width: 83.333333%; }
	.grid-md-11 { width: 91.666667%; }
	.grid-md-11pnt5 {width: 94.666667%;}
	.grid-md-12 { width: 100%; }
	
	
	
	/* Added by sudhakar */
	
	
.pc_footer .error-msg {
   text-align: center;
   font-size: 11px;
   color: #3399FF;
   margin-top: -5px;
}
.contact-form p span input {
	margin-bottom:0px;
}
.contact-form p {
	margin-bottom:13px;
}
.footer-instructor-form h2 {
	background-color:#3b95d2;
	border:1px solid #3b95d2; 
}
.footer-instructor-form h2:before {
	background-color:#3b95d2;
}
.footer-instructor-form form button[type="submit"].cws-button {
	border:1px solid #3b95d2; 
	color: #3b95d2
} 
.footer-instructor-form form button[type="submit"].cws-button:hover {
	background-color:#3b95d2;
}
.content-loader{
	position: absolute;
	margin: auto;
	left: 50%;
    top: 200px;
	z-index: 99999;
	visibility: hidden;	
}
.content-loader i{
	color: #0093dc;
	font-size: 5em;
}
.width-400px {
	width:400px;
}
.width-80px {width:80px;}
.nav-links {
	color:blue;
	font-size: 16px;
}

.color-brightgreen {
	color:#18BB7C;
}
.color-red {
	color:red;
}
.color-blue{
	color:blue;
}
.color-cornflowerblue{
	color:cornflowerblue;
}
.color-white{
	color:#fff; 
}
.color-gray{
	color:gray; 
}
.bg-white{
	background-color:#fff;
}
.bg-darkblue {
	background-color: #00304C;
}
.bgcolor-brightgreen {
	background-color:#18BB7C;
}
.bg-black{
	background: #23282d;
}
.bgcolor-red {
	background-color:#f27c66;;
}
.bordercolor-brightgreen {
	border-color:#18BB7C
}
.bordercolor-orange {
	border-color:#f27c66
}
.login-close-icon:hover{
	ms-transition: all 600ms ease 0ms;
    -moz-transition: all 600ms ease 0ms;
	-webkit-transition: all 600ms ease 0ms;
    transition: all 600ms ease 0ms;
    transform: rotateZ(90deg);
}

.p-0 { padding: 0 !important; }
.p-t-0 { padding-top: 0 !important; }
.p-l-0 { padding-left: 0 !important; }
.p-r-0 { padding-right: 0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-5 { padding: 5px !important; }
.p-t-5 { padding-top: 5px !important; }
.p-l-5 { padding-left: 5px !important; }
.p-r-5 { padding-right: 5px !important; }
.p-b-5 { padding-bottom: 5px !important; }
.p-10 { padding: 10px !important; }
.p-t-10 { padding-top: 10px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-15 { padding: 15px !important; }
.p-t-15 { padding-top: 15px !important; }
.p-l-15 { padding-left: 15px !important; }
.p-r-15 { padding-right: 15px !important; }
.p-b-15 { padding-bottom: 15px !important; }
.p-t-20{
	padding-top:20px; 
}
.p-12{
	padding:12px; 
}

.m-0 { margin: 0 !important; }
.m-t-0 { margin-top: 0 !important; }
.m-l-0 { margin-left: 0 !important; }
.m-r-0 { margin-right: 0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-5 { margin: 5px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-4 { margin-top: 4px !important; }

.m-l-5 { margin-left: 5px !important; }
.m-r-5 { margin-right: 5px !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-10 { margin: 10px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-15 { margin: 15px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-l-15 { margin-left: 15px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-t-20{
	margin-top:20px; 
}
.m-38 {
	margin:38px;
}


.accordions {
	
}
.accordions .title {
    border: 1px solid #e6e6e6;
    padding: 2px 8px;
    margin-top: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.accordions .open .title {
	font-weight:700;
	color: #ffffff;
    background-color: #18bb7c;
    border-color: #18bb7c;
    border-bottom: 0;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.15);
}
.accordions, .accordions accordion-content {
    font-size: 14px;
}
.accordions accordion-content {
	padding: 0 15px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #c5c5c5;
    border-bottom-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -ms-border-bottom-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -ms-border-bottom-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
}
.profile-form {
	background-color: #fff;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.2);
}
.profile-bg-color {
	background-color:#EEEEEE;
}
.profile-edit-btn {
	 border-radius: 0 !important;
    padding: 4px 6px !important;
}

/* student  desktop side menu links*/
.left-panel{
    background-color:white;
    height:880px;
	font-size:20px;	
}
.widget-navbar{

}
.widget-navbar li{
	list-style-type:none;
	padding: 10px 15px;
    color:gray;
    line-height: 12px;
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #EEEEEE;
    border-left: 4px solid #EEEEEE;
}
.menu-icon-text{
	  margin-left:8px;
}
.widget-navbar li:hover{
	background:#F5F5F5;
	border-left:4px solid #18BB7C;
	color:black;
}
ul.no-list-style li:before{
	display: none;
}
.card-min-height{
	min-height:135px; 
}

.clear-fix{
	clear:both; 
}
.list-courses {
	font-size: 13px;
    padding-top: 18px;
    color: blue;
    text-decoration: underline;
}

.clear-fix{
	clear:both; 
}
.login-msg-info {
	min-height:25px;
}
.err {
	color:red;
}
.suc {
	color:#18BB7C;
}
.color-green {
	color:green;
}


.profile-img{
	margin-left:5px;
	border-radius: 100%;
	height:35px;
	width: 35px;
}
.login-btn{
	list-style-type:none; 
	cursor: pointer;
	font-size: 16px;
}
.logged-user{
	position: relative;
    font-size: 14px;
    color:#fff; 
}
.logged-user:hover{
	color:#fff; 	
}
.dropbtn {
    color: white;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
	right: 0px;
	border-top: 2px solid #00304C;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	box-shadow: 0 14px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	z-index: 10000;
	top: 0;
	transition: all 0.4s cubic-bezier(1, 0, 0.69, 1.25);
}
.dropdown-content::before{
	position: absolute;
    margin: auto;
    top: -5px;
    bottom: 80px;
    left: 136px;
    background: linear-gradient(-45deg,transparent 0%,transparent 50%, #f9f9f9 50%, #f9f9f9 100%);
    color: #fff;
    content: '';
    width: 16px;
    height: 16px;
    transform: rotateZ(45deg);	
}
.dropdown-content li{
	list-style-type: none;
	
}
.dropdown-content  li a {
    color: black;
    font-size:16px;
    padding: 0px 20px;
    text-decoration: none;
    display: block;
    /* width: 40px; */
    float:left;
    text-align: center;
}
.dropdown-content li:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
	top: 50px;
    opacity: 1;
    visibility: visible;
    
}